@use "abstracts" as *;

html {
  scrollbar-color: #4a4a48 var(--bg);
  scrollbar-width: thin;
}

@supports not (scrollbar-color: auto) {
  html::-webkit-scrollbar {
    width: 0.625rem;
  }

  html::-webkit-scrollbar-track {
    background: var(--bg);
  }

  html::-webkit-scrollbar-thumb {
    background: #4a4a48;
    border-radius: 999px;
    border: 0.1875rem solid var(--bg);

    &:hover {
      background: var(--muted);
    }
  }
}
